﻿<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title ng-bind="IndexPage.Title"></title>
    <meta name="description" content="{{IndexPage.Description }}">

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/ui-grid.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/app.min.css" rel="stylesheet" />
</head>
<body>
    <!--<div id="loaderBarWhite" style="">
    </div>
    <div id="loaderBar" style="">
        <img src="./images/preloader.gif" class="ajax-loader"/>
    </div>-->
    <div ng-controller="headerCtrl">
        <div ng-include="'states/header/header.html'">

        </div>
    </div>


    <div>
        <div ui-view></div>
    </div>

    <!--<script src="Scripts/jquery-1.8.2.min.js"></script>-->
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-ui-router.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>


    <script src="components/directives/pick-a-color/tinycolor.js"></script>
    <script src="components/directives/pick-a-color/pick-a-color.js"></script>
    <script src="components/directives/pick-a-color/angular-pick-a-color.js"></script>
    <script src="Scripts/ui-grid.js"></script>

    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>

    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="components/directives/angular-bootstrap-confirm/angular-bootstrap-confirm.min.js"></script>


    <script src="app.js?v=1"></script>


</body>
</html>