﻿@import "global-varible";
@import "../components/directives/pick-a-color/pick-a-color";
@import "../states/dashboard/dashboard";
@import "../states/about/about";
@import "social-buttons";
@import "../states/singup/singup";
@import "../states/login/login";

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
    overflow-x: auto !important;
}
