﻿@firstTextColor: #333;
@eSecondTextColor: gray;
@eHigthlightTextColor: #52729F;

@eGoodBlueColor: #337ab7;

@eFontSizeBig: 32px;
@eFontSizeNormal: 24px;

@colorMain: #10617D;
@colorTextMain: @colorMain;
@colorTextMainGray: rgb(134, 159, 167);
@colorTextContrast: rgb(166, 91, 15);

@colorYellow: #FF9933;



