﻿<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/dashboard">{{brandName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div uib-collapse="navCollapsed" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="authentication.isAuth">
                    <a href="#/dashboard" ng-show="authentication.isAuth">Dashboard<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/about">About</a></li>
                <li></li>
                <li ng-show="authentication.isAuth"><a href="javascript:void(0)" ng-click="logOut()">Logout {{authentication.userName}}</a></li>
                <li ng-show="!authentication.isAuth"><a href="#/login">Login</a></li>
                <li ng-show="!authentication.isAuth"><a href="#/singup">Singup </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
