﻿.my-dashboard {
    position: relative;

    .short-category {
        display: inline-block;
        border: 1px solid black;
        background: red;
        margin: 0 1px;
        padding: 0 5px;
        border-radius: 7px;
    }

    .left-panel {
        background: #d8d8d8;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;

        .my-add-panel {
            margin-bottom: 15px;
        }
    }

    .right-panel {
        .edit-category-panel {
            background-color: #e6e6e6;
            padding: 10px;
            overflow: hidden;

            .operation-control-panel {
                float: right;
            }

            .bulk-operation {
                display: inline-block;

                .bulk-panel {
                    .bulk-operation-item {
                        margin: 3px 11px;
                        display: block;
                    }
                }
            }

            .edit-category-name {
                line-height: 27px;
            }

            .category-name {
                display: inline-block;
                font-size: 23px;
            }

            .edit-controls {
                display: inline-block;

                .pick-color {
                    width: 43px;
                    height: 21px;
                    display: inline-block;
                }
            }
        }



        .foo {
            height: 200px;
            background: #55708c;
        }
    }

    .category-item {
        border: 1px solid gray;
        padding: 6px;
        background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%);
        margin-bottom: 3px;

        .caption {
        }

        .count {
            display: inline-block;
            border-radius: 50%;
            width: 21px;
            height: 21px;
            padding-top: 4px;
            text-align: center;
            font-size: 10px;
            background: #808080;
            color: white;
            float: right;
        }
    }

    .popoverTemplate {
        position: fixed;
        border: 1px solid #808080;
        background: #fff;
        padding: 10px;
        margin-top: 1px;
        min-width: 100px;

        .my-close {
            float: right;
        }

        .popover-category-item {
            margin-bottom: 10px;
        }
    }

    .ui-grid-cell-contents.category {
        position: relative;
        overflow: visible;

        .button-show {
            span {
                top: 10px;
            }
        }

        .popup {
            position: absolute;
        }
    }
}


@media screen and (max-width: 991px) {
    .my-dashboard {
        .right-panel {
            .edit-category-panel .operation-control-panel {
                float: left;
            }
        }
    }

    .pick-a-color-markup .input-group-btn .color-dropdown {
        height: inherit;
    }

    .pick-a-color-markup .color-preview {
        height: 19px;
        width: 19px;
    }
}
