﻿<div class="container">
    <div class="my-dashboard">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="left-panel">
                    <div class="my-add-panel input-group">
                        <input class="form-control"
                               type="text"
                               ng-model="dashboard.addCategoryText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="dashboard.addCategory(dashboard.addCategoryText)">Add</button>
                        </span>

                    </div>
                    <div class="system-category-panel">
                        <div class="category-item"
                             ng-style="{background:category.color}"
                             ng-click="dashboard.categoryClicked(category)"
                             ng-repeat="category in dashboard.categoryList | filter:{ categoryType: 'System' } ">
                            {{category.categoryName}}
                            <div class="count">{{category.count}}</div>
                        </div>
                    </div>
                    <hr />
                    <div class="custom-category-panel">
                        <div class="category-item"
                             ng-style="{background:category.color}"
                             ng-click="dashboard.categoryClicked(category)"
                             ng-repeat="category in dashboard.categoryList | filter:{ categoryType: '!System'}">
                            <span class="caption">{{category.categoryName}}</span>
                            <div class="count">
                                <span>{{category.count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="right-panel">
                    <div class="edit-category-panel">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="category-name"
                                     ng-show="dashboard.editCategory.isEditState==false">{{dashboard.editCategory.category.categoryName}}</div>
                                <div class="edit-category-name"
                                     ng-show="dashboard.editCategory.isEditState">
                                    <input ng-model="dashboard.editCategory.category.categoryName" />
                                    <button class="btn btn-default" ng-click="dashboard.editCategory.changeText()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                    <button class="btn btn-default" ng-click="dashboard.editCategory.declainChangeText()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="operation-control-panel">
                                    <div class="bulk-operation">
                                        <span uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
                                            <button id="simple-dropdown" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                                Bulk operation <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                <div class="bulk-panel">
                                                    <label class="bulk-operation-item"
                                                           ng-repeat="category in dashboard.bulkOperation.categoryList">
                                                        <input type="checkbox" indeterminate
                                                               value="{{category}}"
                                                               ng-checked="dashboard.bulkOperation.selectedCategory.indexOf(category) > -1"
                                                               ng-click="dashboard.bulkOperation.toggleSelection(category)">
                                                        {{category.categoryName}}
                                                    </label>

                                                </div>

                                            </div>
                                        </span>
                                    </div>
                                    <div class="edit-controls" ng-show="dashboard.editCategory.canEdit">

                                        <button class="btn btn-default " ng-click="dashboard.editCategory.renameClicked()">Rename</button>
                                        <button class="btn btn-default "
                                                mwl-confirm
                                                title="Delete"
                                                message="Are you sure?"
                                                confirm-text="Delete"
                                                cancel-text="Cancel"
                                                placement="bottom"
                                                on-confirm="dashboard.editCategory.deleteClicked()"
                                                on-cancel="cancelClicked = true"
                                                confirm-button-type="danger"
                                                cancel-button-type="default"
                                                ng-click="">
                                            Delete
                                        </button>
                                        <div class="pick-color ">
                                            <pick-a-color id="inputColor"
                                                          onchange="dashboard.editCategory.changeColor"
                                                          ng-model="dashboard.editCategory.category.color"
                                                          show-spectrum=false
                                                          show-saved-colors="false"
                                                          save-colors-per-element="true"
                                                          fade-menu-toggle="false"
                                                          show-advanced="false"
                                                          show-basic-colors="true"
                                                          show-hex-input="false"
                                                          allow-blank="false"
                                                          inline-dropdown="false"></pick-a-color>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                    <div class="watch-list">
                        <div ui-grid="dashboard.gridWatchListOptions" class="grid" ui-grid-selection ui-grid-auto-resize ui-grid-cellNav></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="popoverTemplate" class="popoverTemplate" ng-show="dashboard.popup.isShow">
            <div class="popover-category-item" ng-repeat="category in dashboard.popup.entity.categoriesList">
                <div class="short-category" ng-style="{background:category.color}">
                    {{category.categoryName.substr(0, 1).toUpperCase()}}
                </div>
                {{category.categoryName}}
                <a href="javascript:void(0)" ng-click="dashboard.popup.detachCategory(dashboard.popup.entity,category)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
            <a class="my-close" href="javascript:void(0)" ng-click="dashboard.popup.closeClicked()">close</a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="grid-category-cell.html">
    <div class="ui-grid-cell-contents category">
        <div class="short-category"
             ng-style="{background:category.color}"
             ng-repeat="category in row.entity.categoriesList | limitTo:grid.appScope.dashboard.visibleShortCategory">
            {{category.categoryName.substr(0, 1).toUpperCase()}}
        </div>
        <a href="javascript:void(0)"
           class="button-show"
           ng-show="row.entity.categoriesList.length>grid.appScope.dashboard.visibleShortCategory"
           ng-click="grid.appScope.dashboard.popup.popupClick(row.entity,$event)">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </a>
    </div>
</script>








